* {
    font-family: 'Roboto', sans-serif;
    
    
}

body {
    background-color: #F5F5F5;
}

h1 {
    text-align: center;
}

h2 {
    font: xx-large;
    border-bottom: 1px solid lightgray;
    line-height: 50px;
    text-align: left;
    padding:45px;
    margin: 70px;
}

::placeholder {
    font-size: 13px;
    text-align:top;
}

.card {
    width: 75%;
    margin: auto;
    /* position: relative; */
    top: 20px;
    text-align: center;
    background: white;
}

.card-body {
    border-bottom: 1px solid lightgray;
    line-height: 50px;
    padding:45px;
    margin: 70px;
    background-color: white;
}

#password {
    padding: 85px 250px;
    border-style: dashed;
    border-width: 2px;
    border-color: #E8E8E8;
}

::placeholder {
    text-align: center;
}
.btn {
    border-radius:28px;
    padding:16px 31px;
    margin: 50px;
    cursor: pointer;
    font-size:17px;
    font: white;
}

#generate {
    color: white;
    background: #A00000;
    border:1px solid #A00000;
}

#copyToClipboard {
    color: white;
    background:#E0E0E0;
    border:1px solid #E0E0E0;
}

